/* 1470, 1024, 768, 480 */

@media screen and (max-width:1470px) {
    
}
@media screen and (max-width:1280px) {
    .container {
        /* section1 - navi */
        /* .navi {
            flex-direction: column;
            .box {
                &.medium {
                    margin-bottom: 8px;
                    width: 50%;
                }
            }
            .box_wrap {
                width: 100%;
                .box {
                }
            }
        } */
        /* section2 - project */
        /* .project {
            .box {
                height: 572px !important;
            }
            .title {
                font-size: 80px;
            }
        } */
    }
}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:768px) {
    
}
@media screen and (max-width:480px) {
    
}