/* 1470, 1024, 768, 480 */
@media screen and (max-width:1550px) {
    .container {
        .project {
            .box {
                .web_project {
                    .txt {
                        .title {
                            font-size: 60px;
                            margin-bottom: 16px;
                        }
                    }
                }
                .btn_wrap {
                    .web_btn {
                        padding: 12px 20px;
                        font-size: 14px;
                        &::after {
                            margin-top: 2px;
                            background-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1470px) {
    .visual {
        .txt {
            &.dev {
                top: 55%;
                transform: translateY(-50%);
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .container {
        .box {
            .title {
                font-size: 80px;
            }
        }
        .project {
            .box {
                /* height: 584px !important; */
                &.regular {
                    width: 100%;
                    height: 380px !important;
                    padding: 40px 48px;
                    display: block;
                    text-align: center;
                    .btn_wrap {
                        justify-content: center;
                    }
                    .web_project {
                        & .txt {
                            .title {
                                font-size: 48px;
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
        .contact {
            .box {
                height: 680px !important;
            }
        }
    }
}
@media screen and (max-width:1240px) {
    .pc_only, .pc_flex {
        display: none !important;
    }
    .mb_only {
        display: block !important;
    }
    .mb_flex {
        display: flex !important;
    }
    /* visual */
    .visual {
        .logo {
            width: 52px;
            bottom: 8px;
        }
        .txt {
            &.lang {
                left: 40px;
                top: 32px;
                > li {
                    font-size: 52px;
                }
            }
            &.dev {
                font-size: 48px;
                left: 40px;
                top: 268px;
            }
            &.portfolio {
                right: 40px;
                top: 40px;
            }
            &.name {
                right:40px;
                > li {
                    width: 64px;
                    height: 65px;
                }
            }
        }
    }
    .container {
        .box {
            padding: 52px 60px;
            .box_contents {
                .lt > p, .rt > p, .lb > p, .rb > p {
                    font-size: 20px;
                }
                .lt {
                    left: 60px;
                    top: 52px;
                }
                .rt {
                    right: 60px;
                    top: 52px;
                }
                .lb {
                    left: 60px;
                    bottom: 52px;
                }
                .rb {
                    right: 60px;
                    bottom: 52px;
                }
            }
        }
        /* section1 - navi */
        .navi {
            padding-bottom: 12px;
            .box {
                width: calc(50% - 4px) !important;
                &:first-of-type {
                    height: 400px !important;
                }
                &:nth-of-type(2) {
                    width: calc(50% - 4px) !important;
                    height: 196px !important;
                }
                &:nth-of-type(3) {
                    width: calc(50% - 12px) !important;
                    height: 196px !important;
                    position: absolute;
                    right: 8px;
                    bottom: 252px;
                }
                &:last-of-type {
                    width: 100% !important;
                    height: 240px !important;
                    position:relative;
                    left: 0px;
                    bottom: -8px;
                }
                .title {
                    font-size: 80px;
                }
            }
        }
        /* section2 - project */
        .project {
            .box {
                height: auto !important;
                padding: 100px 48px 60px;
                /* &:first-of-type {
                    height: 412px !important;
                } */
                .title {
                    font-size: 48px;
                    .sub {font-size: 20px;}
                }
                &.regular {
                    padding: 48px;
                }
                .web_project {
                    .desc {
                        font-size: 20px;
                    }
                }
            }
        }
        /* section3 - pub */
        .pub {
            .box {
                .title {
                    font-size: 56px;
                    text-align: center;
                    top: 150px;
                }
                .link_box {
                    width: 62%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }
        /* section4 - design */
        .design {
            .box {
                &:nth-of-type(2) {
                    .logo_img {
                        padding: 100px;
                    }
                }
                .logo_img {
                    padding: 80px;
                }
            }
        }
        /* section5 - introduce */
        .introduce {
            .box {
                height: 820px !important;
                .title {
                    font-size: 120px;
                }
                .desc {
                    font-size: 20px;
                    line-height: 36px;
                    position: absolute;
                    left: auto;
                    top: 280px;
                }
                .circle_skill_wrap {
                    right: -100px;
                    top: 480px;
                    &:nth-of-type(2) {
                        right: -100px;
                        top: 648px;
                    }
                    .circle_skill {
                        width: 200px;
                        height: 200px;
                        padding: 64px;
                    }
                }
            }
        }
        /* section6 - contact */
        .contact {
            .box {
                height: 510px !important;
                padding-top: 100px;
                .title {
                    font-size: 48px;
                    line-height: 64px;
                }
                 .info {
                    gap:12px;
                    & li {
                        a {
                            padding: 12px 20px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .circle_text {
            #circle_text {
                height: 140px;
            }
        }
    }
    .footer {
        height: 100px;
        .logo {
            width: 40px;
            height: auto;
        }
        p {
            font-size: 20px;
        }
    }
}
@media screen and (max-width:1024px) {
    .visual {
        height: 60vw;
        min-height: 500px;
    }
    .container{
        /* section3 - pub */
        .pub {
            .box {
                .link_box {
                    width: 65%;
                }
            }
        }
        /* section4 - design */
        .design {
            & .box {
                &:nth-of-type(2) {
                    .logo_img {
                        padding: 96px;
                    }
                }
                .logo_img {
                    padding: 64px;
                }
            }
        }
        /* section5 - introduce */
        .introduce {
            .box {
                height: 632px !important;
                .title {
                    font-size: 100px;
                }
                .desc {
                    top: 212px;
                }
                .circle_skill_wrap {
                    right: -110px;
                    top: 350px;
                    &:nth-of-type(2) {
                        right: -100px;
                        top: 488px;
                    }
                    .circle_skill {
                        width: 160px;
                        height: 160px;
                        padding: 64px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:900px) {
    .container {
        /* section5 - introduce */
        .introduce {
            .box {
                height: 758px !important;
                .title {
                    font-size: 100px;
                }
                .desc {
                    top: 212px;
                }
                .circle_skill_wrap {
                    right: -120px;
                    top: 470px;
                    &:nth-of-type(2) {
                        right: -100px;
                        top: 618px;
                    }
                    .circle_skill {
                        width: 160px;
                        height: 160px;
                        padding: 64px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .visual {
        .txt {
            &.lang {
                > li {
                    font-size: 40px;
                }
            }
            &.dev {
                font-size: 40px;
            }
        }
    }
    .container {
        .box {
            .box_contents {
                .lt {
                    left: 52px;
                    top: 48px;
                }
                .rt {
                    right:52px;
                    top: 48px;
                }
                .lb {
                    left: 52px;
                    bottom: 48px;
                }
                .rb {
                    right: 52px;
                    bottom: 48px;
                }
            }
        }
        .design {
            .box {
                height: 320px !important;
                &:nth-of-type(2) {
                    .logo_img {
                        padding: 60px;
                    }
                }
                .logo_img {
                    padding: 32px;
                }
            }
        }
        .contact {
            .box {
                .circle_text {
                    display: none;
                }
            }
        }
    }   
}
@media screen and (max-width:685px) {
    .container {
        .design {
            .box {
                height: 290px !important;
                &:nth-of-type(2) {
                    .logo_img {
                        padding: 48px;
                    }
                }
                .logo_img {
                    padding: 12px;
                }
            }
        }
    }
    
}