html, body, #root {
    height: 100%;
    background-color: #000;
    color: #fff;
}
main {
    height: 100%;
}
.contact_menu {
    width: 54px;
    height: 172px;
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 10%;
    box-shadow: 0px 0px 20px rgba(55, 55, 55, 0.2);
    z-index: 9999;
    * {
        color: #000;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px 10px 20px;
    }
    span {
        display: block;
        font-weight: bold;
        margin-left: 4px;
    }
    p {
        transform: rotate(-90deg);
        white-space: nowrap;
        font-weight: 500;
        position: absolute;
        left: -8px;
        bottom: 50px;
    }
}
.visual {
    height: 50vw;
    margin-bottom: 8px;
    position: relative;
    .logo {
        font-family: "gugi";
        font-size: 40px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        }
    .txt {
        position: absolute;
        &.lang, &.dev {
            font-weight: 600;
        }
        &.lang {
            left: 100px;
            top: 60px;
            > li {
                font-size: 70px;
            }
        }
        &.dev {
            font-size: 70px;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.portfolio {
            right: 100px;
            top: 60px;
            font-size: 20px;
            font-weight: bold;
        }
        &.name {
            display: flex;
            right: 100px;
            top: 40%;
            transform: translateY(-50%);
            > li {
                font-size: 120px;
                font-weight: bold;
                &:not(:first-of-type) {
                    margin-left: 24px;
                }
            }
        }
    }
    .star {
        width: 75%;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        li {
            width: calc(100% / 3);
            font-size: 0;
            opacity: 0.2;
            &.on {
                opacity: 1;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.container {
    > div {
        padding: 4px 8px;
        &:first-of-type {
            padding-top: 8px;
        }
        &:last-of-type {
            padding-bottom: 8px;
        }
    }
    .box {
        padding: 50px 70px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 80px;
        position: relative;
        overflow: hidden;
        transition: all 0.4s;
        /* 박스의 크기 */
        &.small {
            width: calc(100% - (50% + 4px));
        }
        &.regular {
            width: calc(100% / 3);
            &:nth-child(2) {
                width: calc(100% / 3 - 16px);
            }
        }
        &.medium {
            width: calc(100% - (50% + 4px));
        }
        &.large {
            width: 100%;
        }
        /* 박스의 색상 */
        &.pink {
            background-color: #FF008A;
        }
        &.white {
            background-color: #fff;
            p {
                color: #000;
            }
        }
        &.black {
            background-color: #1F1F1F;
        }
        &.cyan {
            background-color: #00FFFF;
            p {
                color: #000;
            }
        }
        &.sky {
            background-color: #00AAC1;
        }
        &.green {
            background-color: #CCFF00;
        }
        &.deep_green {
            background-color: #00C113;
        }
        &.brown {
            background-color: #C14600;
        }
        &.purple {
            background-color: #5500C1;
        }
        /* &::after {  
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.18);
            transition: all 0.4s;
            opacity: 0;
            z-index: 1;
        } */
        &:hover {
            /* &::after {
                opacity: 1;
            } */
            opacity: 0.9;
            .box_contents{
                .rt > img, .rb > img {
                    animation: vibe 0.3s linear;
                }
            }
        }
        .title {
            display: flex;
            font-size: 110px;
            z-index: 10;
        }
        .box_contents {
            z-index: 10;
            .lt, .rt, .lb, .rb {
                position: absolute;
            }
            .lt > p, .rt > p, .lb > p, .rb > p {
                font-size: 24px;
                font-weight: 500;
            }
            .lt {
                left: 70px;
                top: 70px;
            }
            .rt {
                right: 70px;
                top: 70px;
            }
            .lb {
                left: 70px;
                bottom: 50px;
            }
            .rb {
                right: 70px;
                bottom: 50px;
            }
        }
        p {
            white-space: pre-line;
        }
    }

    /* section1 - navi */
    .navi {
        display: flex;
        justify-content: space-between;
        > div {
            width: calc(50% - 4px);
        }
        .box {
            align-items: center;
        }
        .box_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            .medium {
                width: 100%;
                margin-left: 0;
            }
        }
        .title {
            width: fit-content;
            height: fit-content;
            justify-content: center;
            white-space: nowrap;
            animation: rolling_project 16s linear infinite;
            position: absolute;
        }
    }
    /* section2 - project */
    .project {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .box {
            padding: 140px 70px 70px;
            &.regular {
                padding: 80px;
                &:hover {
                    background-color: #CCFF00;
                    .sub, .title, .desc, .lang, .web_btn {
                        color: #000;
                    }
                    .web_btn {
                        border-color: #000;
                        &::after {
                            background-image: url('../../public/assets/icon/link_arrow_black.svg');
                        }
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }
        p {
            color: #CCFF00;
        }
        .title {
            font-weight: 200;
        }
        .web_project {
            .txt {
                .sub, .title, .desc, .web_btn {
                    transition: all 0.3s;
                }
                .sub {
                    display: block;
                    font-size: 24px;
                    font-weight: 500;
                    color:#CCFF00;
                    margin-bottom: 10px;
                }
                .title {
                    display: block;
                    font-size: 80px;
                    font-weight: 500;
                    margin-bottom: 24px;
                    color:#CCFF00
                }
                .desc {
                    display: block;
                    font-size: 24px;
                    line-height: 48px;
                    margin-bottom: 40px;
                    color: #CCFF00;
                    .lang {
                        display: block;
                        font-size: inherit;
                        font-weight: 600;
                        color: inherit;
                    }
                }
            }
            .btn_wrap {
                display: flex;
                gap: 20px;
                .web_btn {
                    display: flex;
                    padding: 16px 32px;
                    font-size: 20px;
                    font-weight: 500;
                    color: #CCFF00;
                    border: 2px solid #CCFF00;
                    background-color: transparent;
                    border-radius: 999px;
                    transition: all 0.3s;
                    &::after {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        margin-left: 8px;
                        background: url('../../public/assets/icon/link_arrow.svg') no-repeat center;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    /* section3 - publishing */
    .pub {
        .box {
            .link_box {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                a {
                    font-size: 24px;
                    color: #000;
                    position: relative;
                    &:not(:first-of-type) {
                        margin-left: 20px;
                    }
                    /* SOK */
                    &:nth-of-type(1) {
                        &::after {
                            background-color: rgba(237, 28, 36, 0.2);
                        }
                    }
                    /* 버크만 */
                    &:nth-of-type(2) {
                        &::after {
                            background-color: rgba(25, 110, 135, 0.2);
                        }
                    }
                    /* ICOMES2024 */
                    &:nth-of-type(3) {
                        &::after {
                            background-color: rgba(92, 3, 120, 0.2);
                        }
                    }
                    /* 새날 CRM */
                    &:nth-of-type(4) {
                        &::after {
                            background-color: rgba(0, 126, 255, 0.2);
                        }
                    }
                    /* 쎄듀런 */
                    &:nth-of-type(5) {
                        &::after {
                            background-color: rgba(9, 185, 198, 0.2);
                        }
                    }
                    /* 팀 허브디앤씨 */
                    &:nth-of-type(6) {
                        &::after {
                            background-color: rgba(44, 125, 246, 0.2);
                        }
                    }
                    /* 미라 파트너스 */
                    &:nth-of-type(7) {
                        &::after {
                            background-color: rgba(67, 35, 112, 0.2);
                        }
                    }
                    /* Labex */
                    &:nth-of-type(8) {
                        &::after {
                            background-color: rgba(203, 42, 34, 0.2);
                        }
                    }
                    /* 바디채널 관리자 */
                    &:nth-of-type(9) {
                        &::after {
                            background-color: rgba(251, 70, 160, 0.2);
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 12px;
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        background-color: rgba(0, 0, 0, 0.1);
                        transition: all 0.3s;
                    }
                    &:hover {
                        &::after {
                            width:100%;
                        }
                    }
               }
            }
        }
    }
    /* section4 - design */
    .design {
        display: flex;
        flex-wrap: wrap;
        gap:8px;
        .box {
            cursor: pointer;
            .logo_img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 110px;
            }
            &:nth-of-type(2) {
                .logo_img {
                    padding: 80px;
                }
            }
        }
    }
    /* section5 - introduce */
    .introduce {
        .box {
            .title {
                width: fit-content;
                height: fit-content;
                justify-content: center;
                white-space: nowrap;
                animation: rolling_introduce 16s linear infinite;
                color: #00FFC2;
                font-weight: 200;
                font-size: 240px;
            }
            .desc {
                font-size: 32px;
                line-height: 60px;
                color: #00FFC2;
                em {
                    font-style: normal;
                    font-size: inherit;
                    color: inherit;
                    font-family: 'outfit';
                }
            }
        }
    }
    .circle_text {
        position: absolute;
        right: 0;
        bottom: 0;
        height: fit-content;
        &::after{
            content: '';
            display: block;
            width: 22px;
            height: 20px;
            background: url('../../public/assets/icon/circle_arrow.svg') no-repeat center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        #circle_text {
            height: 200px;
            z-index: 10;
            animation: rotate 10s linear infinite;
            text {
                font-size: 40px;
                font-weight: bold;
                text-transform: uppercase;
                fill: #CCFF00;
            }
        }
    }
}

/* animation */
@keyframes rolling_project {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50.35%);
    }
}

@keyframes rolling_introduce {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes vibe {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-10deg);
    }
    66% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(360deg);
    }
}